body {
    background-image: url("running-track-sn-3000x2001.jpg");
    background-size: cover;
    background-position: center;
}

.navbar-brand {
    font-weight: bolder;
    font-size: 2em;
}

.dropdown-header {
    font-size: larger;
    font-weight: bolder;
}

html {
    height: 100%;
}

.list-head {
    font-weight: bolder;
    text-transform: uppercase;
}

.navbar {
    background-color: transparent;
}

.navbar-toggler {
    background-color: #4e555b;
}

.btn {
    margin-left: 2px;
}

.container {
    margin-top: 30px;
}

